<div id="sidebar">
  <%= render 'shared/sidebar_menu' %>
</div>

<div id="connect-container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <% if current_user %>
        <%= render "shared/connect_card", provider: @provider %>
      <% end %>
    </div>
  </div>
</div>

