// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #87A1DC;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #363739;
$light-gray: #F4F4F4;
$medium-gray: #D8D8D8;
// $compiled-gray: #686a6d;
