#page {
  display: flex;
}

.filter-btn:hover {
  cursor: pointer;
}

#sidebar, #category_filter {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
}

#container-reduced {
  flex-grow: 1;
  margin-left: calc(268px + 40px);
  margin-top: 40px;
  margin-right: 40px;
}

#privacy-filter {
  margin-bottom: 40px;
  .filter-btn {
    margin-bottom: 0px;
  }
}

#loading {
  img {
    height: 60px;
    width: 60px;
  }
}
