<div class="card card-photo">
  <div class="card-header">
    <h3>Title de la photo</h3>
    <p>Date de publication</p>
  </div>
  <div class="carte-body" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('logo.png'); background-size: cover">
  </div>
  <div class="carte-footer">
    <p>commentaires</p>
    <p>Nombre de like</p>
  </div>
</div>
