<div id="category_filter">
  <div class="filter-btn">
    <%= link_to '/twitter/results', class: 'link'  do %>
      <div>All</div>
    <% end %>
  </div>
  <div class="filter-btn">
    <%= link_to '/facebook/results', class: 'link' do %>
      <div>Photos</div>
    <% end %>
  </div>
  <div class="filter-btn">
    <%= link_to '/instagram/results', class: 'link' do %>
      <div>Texts</div>
    <% end %>
  </div>
  <div class="filter-btn">
    <%= link_to '/linkedin/results', class: 'link'  do %>
      <div >Videos</div>
    <% end %>
  </div>
</div>
