<div id="category_filter">
  <div class="filter-btn" id="all">
    <div>All</div>
  </div>
  <div class="filter-btn" id="reverse">
    <div>Reverse</div>
  </div>
  <div class="filter-btn">
    <%= link_to '', new_provider_path, class: "fa fa-search" %>
  </div>
</div>
