<div id="category_filter">
    <div class="filter-btn" id="all">
      <div>All</div>
    </div>
    <div class="filter-btn" id="photos">
      <div>Photos</div>
    </div>
    <div class="filter-btn" id="posts">
      <div>Posts</div>
    </div>
    <div class="filter-btn" id="videos">
      <div >Videos</div>
    </div>
    <div class="filter-btn" id="pages">
      <div>Pages</div>
    </div>
    <div class="filter-btn" id="reverse">
      <div>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </div>
    </div>
</div>
