<div id="category_filter">
  <div class="social-media-icon">
    <%= link_to '/twitter/results', class: 'link'  do %>
      <p>All</p>
    <% end %>
  </div>
  <div class="social-media-icon active">
    <%= link_to '/facebook/results', class: 'link' do %>
      <p>Photos</p>
    <% end %>
  </div>
  <div class="social-media-icon">
    <%= link_to '/instagram/results', class: 'link' do %>
      <p>Texts</p>
    <% end %>
  </div>
  <div class="social-media-icon">
    <%= link_to '/linkedin/results', class: 'link'  do %>
      <p>Videos</p>
    <% end %>
  </div>
</div>
