<div id="category_filter">
  <div class="filter-btn" id="all">
      <div>All</div>
  </div>
  <div class="filter-btn" id="photos">
      <div>Photos</div>
  </div>
  <div class="filter-btn" id="texts">
      <div>Texts</div>
  </div>
  <div class="filter-btn" id="videos">
      <div >Videos</div>
  </div>

  <div class="filter-btn" id="pages">
      <div>Pages</div>
  </div>
  <div class="filter-btn" id="reverse">
      <div>reverse</div>
  </div>
</div>
