<div id="category_filter">
  <div class="filter-btn">
    <%= link_to results_path(provider) do %>
      <div>All</div>
    <% end %>
  </div>
  <div class="filter-btn">
    <%= link_to results_path(provider) do %>
      <div>Photos</div>
    <% end %>
  </div>
  <div class="filter-btn">
    <%= link_to results_path(provider) do %>
      <div>Texts</div>
    <% end %>
  </div>
  <div class="filter-btn">
    <%= link_to results_path(provider) do %>
      <div >Videos</div>
    <% end %>
  </div>
</div>
