<div class="connect_card">
  <!-- icon -->
  <div class="icon">
    <i class="fa fa-<%= @provider %>" aria-hidden="true"></i>
  </div>

  <!-- name -->
  <div class="name">
    <p><%= @provider %></p>
  </div>

  <!-- link -->
  <div class="link">
    <% if @provider == 'facebook' %>
      <%= link_to 'Link my facebook account', '/auth/facebook' %>
    <% else %>
      <p>Sorry, we don't handle connection to <%= @provider %> yet...</p>
    <% end %>
  </div>
</div>
