<div class="item">
  <div class="item-content">
    <!-- Safe zone, enter your custom markup -->
    <%= link_to result.link , target: '_blank' do %>
      <%= render 'shared/result_card', result: result %>
    <% end %>
    <!-- Safe zone ends -->
  </div>
</div>
