<ul id="privacy-filter" class="list-inline">
  <li><button class="filter-btn" id="everyone">Public</button></li>
  <li><button class="filter-btn" id="friends">Only friends</button></li>
  <li><button class="filter-btn" id="myself">Only me</button></li>
  <li><button class="filter-btn" id="nofilters">No privacy filters</</button>
</ul>
