<ul id="privacy-filter" class="list-inline">
  <li class="filter-btn" id="everyone">Public</li>
  <li class="filter-btn" id="friends">Only friends</li>
  <li class="filter-btn" id="myself">Only me</li>
  <li class="filter-btn" id="nofilters">No privacy filters</li>
</ul>
