<div id="privacy-container">
  <ul id="privacy-filter" class="list-inline">
    <li class="filter-tab" id="everyone">
      <i class="fa fa-globe" aria-hidden="true"></i>
      Public
    </li>
    <li class="filter-tab" id="friends">
      <i class="fa fa-users" aria-hidden="true"></i>
      Only friends
    </li>
    <li class="filter-tab" id="myself">
      <i class="fa fa-lock" aria-hidden="true"></i>
      Only me
    </li>
    <li class="filter-tab" id="nofilters">
      <i class="fa fa-times" aria-hidden="true"></i>
      No privacy filters
    </li>
  </ul>
</div>
