<div id="result_card">
  <div class="card-photo">
  </div>
  <div class="card_text" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('logo.png'); background-size: cover">
  </div>
  <div class="card_footer">
    <p>commentaires</p>
    <p>Nombre de like</p>
  </div>
</div>
