<div id="result_card">
  <div class="card-media">
    <%= image_tag result.picture %>
  </div>
  <div class="card_text">
    <p><%= result.text %></p>
  </div>
  <div class="card_footer text-right">
    <p> <%= result.date.to_time.strftime("%b %Y") %> </p>
  </div>
</div>
