<!--
<% if current_user %>
  <%= link_to 'link your facebook account', '/auth/facebook' %>
<% end %>
 -->



<%= render 'shared/logosvg' %>



<div style="width:18%; margin:270px auto; font-size: 24px;">
  <%= render 'shared/stalkhub' %>
</div>
<div style="width:450px; margin:-280px auto; font-size: 24px;">
  An awesome project built by <br>
  <div style="text-align: center;">le wagon students!</div>
</div>

