/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

body {
  position: relative;
}

@keyframes example {
    0%   {opacity: 1;}
    25%  {opacity: 0,7;}
    50%  {opacity: 0,5;}
    75%  {opacity: 0,3;}
    100% {opacity: 0;}
}

.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 120px;
  right: 0px;
  animation-name: example;
  animation-duration: 4s;
  opacity: 0;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
