#category_filter {
  left: 120px;
  height: 100vh;
  padding-top: 40px;
  margin-left: 60px;
}

.filter-btn {
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px $gray;
  a {
    color: $gray;
  }
  a:hover {
    text-decoration: none;
  }
}

.filter-btn:hover {
  background-color: $blue;
  a {
    color:white;
  }
}
