.connect_card {
  height: 320px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 70px 40px;
  z-index: 1003;
  .icon {
    font-size: 40px;
  }
}

.link {
  margin-bottom: 20px;
}

.connect-input {
  width: 100%;
  border-radius: 8px;
  border: solid 1px $medium-gray;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

