.wrapper.form {
  min-height: 100vh;
  height: inherit;
}

#form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 100px;
  input {
    border-radius: 8px;
    opacity: 1;
  }
}

#title {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #FFF;
  margin-top: 150px;
}

#sentence {
  padding-bottom:30px;
  color: #FFF;
}

.form-group {
  text-align: center;
  margin: 20px 30px;
  border-radius: 8px;
  background-color: white;
  label {
    display: none;
  }
}

.btn.btn-default {
  width: 100px;
  border-radius: 8px;
  border: none;
  background-color: $blue;
  color: #FFF;
  margin-bottom: 10px;
}

#btn-forgot-password {
  width: 200px;
}

.privacy-btn {
  margin-top: 10px;
}


