body {
  font-family: "raleway", sans-serif;
}

.sidenav {
  height: 100vh;
  width: 120px;
  position: fixed;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align:center;
}

.sidebar-bottom {
  position: absolute;
  bottom : 30px;
  left : 45px;
}

.sidenav a {
  text-decoration: none;
  font-size: 30px;
  color: #D8D8D8;
}

.social-media-icon {
  padding-top: 10px;
  padding-bottom: 10px;
}

span {
  color: $blue;
}

.link {
  margin:auto;
}

.active {
  background-color: $blue;
  .link {
    color: #FFF;
  }
}

#title {
  padding-bottom: 30px;
  padding-top: 10px;
}

.logout-icon a {
  color: $blue;
}
