// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
}

// banner

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}
.banner h4 {
  font-size: 25px;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-bottom: 30px;
  text-align: left;
  width: 600px;
}

#log {
  position: absolute;
  right: 9px;
  top: 0px;
  margin: 10px;
  color: #87A1DC;
  border: 2px solid #FFF;
  padding: 10px 15px;
  border-radius: 8px;
  // font-weight: bold;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #999999;
  }
}

.btn-signup {
  margin: 40px;
  color: #B27062;
  border: 2px solid #FFF;
  padding: 10px 15px;
  background-color: #FFF;
  border-radius: 8px;
  font-weight: bold;
  opacity: 0.8;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover {
    opacity: 1;
    text-decoration: none;
    background-color: #FFF;
  }
}

#arrow {
  margin-top: 130px;
}

#logo {
  position: absolute;
  left: -20px;
  top: 3px;
  margin: 5px;
  ul li {
    display: inline-block;
    text-decoration: none;
    p {
      margin-left: 10px;
    }
  }
}

.subtitle {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
  h3 {
    font-weight: bold;
    margin-top: 30px;
  }
}

/* SCROLL TO TOP ARROW */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(64, 224, 208, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

#return-to-top span {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(64, 224, 208, 1);
}

#return-to-top:hover span {
  color: #fff;
  top: 5px;
}

/* END SCROLL TO TOP ARROW */


/* START PRELOADER */

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7fa2d8;
  z-index: 99;
  height: 100%;
}


.mouse-warp {
  margin-top: 60px;
}

.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 14px;
}

.scroll {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  position: relative;
  left: 10px;
  -webkit-animation: scrolls 1.3s ease-out infinite;
}

a .fa-arrow-circle-down {
  color: #87A1DC;
}


/*/ start count stats /*/

#counter-stats {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: auto;
}

.stats {
  text-align: center;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  h3 {
    font-weight: bold;
  }
}

.stats .fa {
  color: #87A1DC;
  font-size: 100px;
}

// services

#services {
  margin-top: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 45px;
}

#services h2 {
  font-weight: 700;
  margin-top: 22px;
  padding-bottom: 10px;
  text-align: center;
}

.ct-services {
  margin-top: 20px;
}

#services h3 {
  color: #676a6c;
  font-weight: bold;
}

#services .fa {
  font-size: 100px;
  color: #7fa2d8;
}

// team

.team {
  margin-top: 100px;
  margin-bottom: 100px;
}

.profil-picture {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


// Footer

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

/*/ start contact /*/

footer {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

#contact h2 {
  font-weight: 700;
  margin-top: 22px;
  padding-bottom: 10px;
  text-align: center;
}

footer p {
  margin-top: 50px;
}

.social,
footer a {
  font-size: 30px;
  color: #24242a;
  margin: 10px;
}

footer a:hover,
footer a:after,
footer a:visited footer a:focus {
  color: #40E0D0;
}

#copyright {
  margin-top: 35px;
  font-size: 14px;
}
